@font-face {
     font-family: latinModern;
     src: url("fonts/lmroman12-regular.otf") format("opentype");
}
@font-face {
     font-family: latinModernBold;
     src: url("fonts/lmroman12-bold.otf") format("opentype");
}
@font-face {
     font-family: germanFont;
     src: url("fonts/DSFetteKanzlei.ttf");
}
body{
     margin: 0; 
     padding: 0;
     background: black;
     min-height: 100vh;
}
.main-container{
     color: white;
     max-width: 600px;
     padding: 0.15rem;
     margin: auto;
}

h1 {
     color: #17DC33;
     font-size: 3rem;
     font-family: germanFont;
}
h2 {
     color: #17DC33;
     font-size: 1.5rem;
     font-family: latinModern;
}

h3 {
     font-size: 1.15rem;
     font-family: latinModern;
}

p {
     font-size: 1.15rem;
     font-family: latinModern;
}

ul {
     list-style-type: none;
     color: white;
}

li {
     font-family: latinModern;
     list-style-type: none;
     color: white;
     text-align: center;
}

code {
     color: #17DC33;
     font-size: 1.0rem;
     #background: #111111;
     background: #000000;
}

code:hover{
     font-style: italic;
}

.navbar {
     display: flex;
     margin: auto;
     justify-content: center;
     flex-wrap: wrap;
     padding: 1em;
     font-family: latinModern;
     font-size: 1.15rem;
}

.current-projects {
     display: flex;
     margin: auto;
     justify-content: center;
     flex-wrap: wrap;
     #padding: 0.25em;
     font-family: latinModern;
     font-size: 1.15rem;
}

.project-actions {
     #display: flex;
     margin: auto;
     justify-content: left;
     flex-wrap: wrap;
     #padding: 0.25em;
     font-family: latinModern;
     font-size: 1.15rem;
}


h1, h2, h3{
     text-align: center;
}

.introduction {
     margin-left: 10%;
}

.welcome {
     display: flex;
     margin: auto;
     justify-content: center;
     flex-wrap: wrap;
     font-family: latinModern;
     font-size: 1.15rem;
}

em {
     color: aqua;
}

footer {
     text-align: center;
     font-family: latinModern;
     font-size: 1.15rem;
}

a:link {
     color: aqua;
     text-decoration: none;
}
a:visited {
     color: aqua;
     text-decoration: none;
}
a:hover {
     color: white;
     text-decoration: none;
}
a:active {
     color: yellow;
     text-decoration: none;
}

.image-container {
     width: fit-content;
     margin: auto;
     #min-height: 25vh;
     #min-width: 17vh;
}

/*
.andrew-subtitle {
     text-align: center;     
     width: fit-content;
     margin-left: 0%;
     margin-right: 0%;
}
*/
