@font-face {
     font-family: latinModern;
     src: url("fonts/lmroman12-regular.otf") format("opentype");
}
@font-face {
     font-family: latinModernBold;
     src: url("fonts/lmroman12-bold.otf") format("opentype");
}
@font-face {
     font-family: germanFont;
     src: url("fonts/DSFetteKanzlei.ttf");
}
body{
     margin: 0; 
     padding: 0;
     background: black;
     min-height: 100vh;
}
.main-container{
     color: white;
     max-width: 600px;
     padding: 1rem;
     margin: auto;
}

h1 {
     color: #17DC33;
     font-size: 3rem;
     font-family: germanFont;
}
h2 {
     color: #17DC33;
     font-size: 2rem;
     font-family: latinModern;
}

p {
     font-size: 1.33rem;
     font-family: latinModern;
}

li {
     font-family: latinModern;
     color: aqua;
     text-align: center;
}

code {
     color: #17DC33;
     font-size: 1.33rem;
     background: #111111;
}

h1, h2, p{
     text-align: center;
}

em {
     color: aqua;
}

a:link {
     color: aqua;
}
a:visited {
     color: purple;
}
a:hover {
     color: white;
}
a:active {
     color: yellow;
}

ul {
     #list-style-type: none;
}

.image-container {
     width: fit-content;
     margin: auto;
     #min-height: 25vh;
     #min-width: 17vh;
}
